{% extends "base.html" %}

{% block title %}{{ recipe.title }} - RecipeHub{% endblock %}

{% block content %}

<div class="mb-4">
    <h1>{{ recipe.title }}</h1>

    <p class="text-muted">
        Category: {{ recipe.category }}
    </p>
</div>

<div class="card">
    <div class="card-body">

        <h5>Description</h5>
        <p>{{ recipe.short_description }}</p>

        <hr>

        <h5>Recipe</h5>
        <p style="white-space: pre-line;">
            {{ recipe.full_recipe }}
        </p>
            {% if nutrition %}

    <hr>

    <h5>Nutrition Information</h5>

    <div class="row mt-3">

        {% for nutrient in nutrition.nutrients[:6] %}

            <div class="col-md-4 mb-3">
                <div class="card bg-light">
                    <div class="card-body">

                        <h6 class="card-title">
                            {{ nutrient.name }}
                        </h6>

                        <p class="mb-0">
                            {{ nutrient.amount|round(1) }}
                            {{ nutrient.unit }}
                        </p>

                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

    {% endif %}
        <hr>

        <p>
            <strong>Preparation time:</strong>
            {{ recipe.prep_time }} minutes
        </p>

        <p>
            <strong>Servings:</strong>
            {{ recipe.servings }}
        </p>

        <p>
        <strong>Author:</strong>
        <a href="{{ url_for('profile.public_profile', user_id=recipe.author.id) }}">
        {{ recipe.author.name }}
        </a>

</p>

    </div>
</div>

{% if current_user.is_authenticated and recipe.author_id == current_user.id %}

    <a
        href="{{ url_for('recipes.edit_recipe', recipe_id=recipe.id) }}"
        class="btn btn-warning mt-3"
    >
        Edit Recipe
    </a>
    
    <form
    method="POST"
    action="{{ url_for('recipes.delete_recipe', recipe_id=recipe.id) }}"
    class="d-inline"
    onsubmit="return confirm('Are you sure you want to delete this recipe?');"
>
    {{ delete_form.hidden_tag() }}

    <button type="submit" class="btn btn-danger mt-3">
        Delete Recipe
    </button>
    </form>
{% endif %}

<a
    href="{{ url_for('main.home') }}"
    class="btn btn-secondary mt-3"
>
    Back to Recipes
</a>

{% endblock %}